Reset

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */

body{

    font-family:Arial, Helvetica, sans-serif;
    color:#181818;
    background:#ffffff;

}

/* Shared */

.primary-btn{

    background:#FD6E0A;
    color:white;
    border:none;
    padding:15px 28px;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;

}

.secondary-btn{

    background:white;
    color:#FD6E0A;
    border:2px solid #FD6E0A;
    padding:15px 28px;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;

}

section{

    width:58.98%;
    margin:100px auto;

}

/* ================= HEADER ================= */

header{

    background:#FFF8F3;
    padding:40px 120px;

}

/* Navbar */

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.logo{

    font-size:45px;
    font-weight:bold;

}

.logo span{

    color:#FD6E0A;

}

nav ul{

    display:flex;
    align-items:center;
    list-style:none;
    gap:40px;

}

nav a{

    text-decoration:none;
    color:#474747;
    font-size:18px;

}

/* Hero */

.hero{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:60px;

}

.hero-text{

    width:50%;

}

.hero-text h3{

    font-size:40px;
    color:#474747;

}

.hero-text h1{

    font-size:70px;
    margin:20px 0;

}

.hero-text p{

    line-height:30px;
    color:#757575;
    margin-bottom:30px;
}

.hero-buttons{

    display:flex;
    gap:20px;

}

.hero-image{

    width:45%;

}

.hero-image img{

    width:100%;

}

/* ================= ABOUT ================= */

.about{

    background:#FFF8F3;
    padding:131px 0;
    text-align:center;
    border-radius:10px;

}

.about h2{

    font-size:35px;
    margin-bottom:30px;

}

.about>p{

    font-size: 18px;
    color:#757575;
    line-height:30px;
    margin-bottom:50px;

}

.about-info{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;

}

.about-info h4{

    font-size: 20px;
    color:#757575;
    margin-bottom:10px;

}

.about-info p{

    font-weight:bold;
    font-size: 20px;
    color: #474747;

}


/* ================= SKILLS ================= */

.skills{

    text-align:center;

}

.skills h2{

    font-size:35px;
    margin-bottom:36px;

}

.skills-description{

    font-size: 18px;
    width:75%;
    margin:0 auto 50px;
    color:#757575;
    line-height:30px;

}

.skill-container{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;

}

.skill-card{

    text-align:left;
    padding:30px;
    border-radius:8px;
    box-shadow:0 6px 25px rgba(0,0,0,.08);

}

.skill-card img{

    width: 42px;
    height: 44px;
    margin-bottom:30px;

}

.skill-card h3{

    margin-bottom:20px;
    font-size:20px;

}

.skill-card p{

    font-size: 16px;
    color:#757575;
    line-height:28px;

}

/* summary */
.summary-parent h2{
    font-size: 35px;
    text-align:center;
    margin-top: 130px;
}
.summary h3{
    font-size: 30px;
    margin-bottom: 35px;
}
.summary h4{
    font-size: 25px;
    margin-bottom: 14px;
}
.summary h5{
    font-size: 20px;
    margin-bottom: 23px;
    color: #757575;
}
.summary{
    display: flex;
    flex: 1;
    gap: 20px;
}
.education{
    display: flex;
    flex-direction: column;
}
.experience{
    display: flex;
    flex-direction: column;
}

.summary p{
    font-size: 16px;
    /* width: 50%; */
   line-height: 1.75;
   font-weight: 400;
    color: #757575;
}

.summary article{
     border-bottom: 2px solid #757575;
     /* width: 50%; */
}

/* button */
.download-btn{
    text-align: center;
    margin-top: 50px;
}

/* gallery */

.gallery-parent{
    margin-top: 150px;
    text-align: center;
}

.gallery-parent h2{
    font-size: 35px;
    margin-bottom: 56px;
}

.box-1{
    grid-area: one;
}
.box-2{
    grid-area: two;
}
.box-3{
    grid-area: three;
}
.box-4{
    grid-area: four;
}
.box-5{
    grid-area: five;
}
.box-6{
    grid-area: six;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 364px;
    gap: 20px;
    grid-template-areas:
        "one three five"
        "two three six"
        "two four six";
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
.end-section{
    display: flex;
    background: #fff8f3FF;
    /* padding: 50px 0; */
    text-align: left;
}
.end-text{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    margin-left: 230px;
}
.end-text h2{
    font-size: 35px;
    margin-top: 130px;
}
.end-form h2{
    font-size: 35px;
    margin-top: 130px;
}

.end-form{
    display: flex;
    flex-direction: column;
    width: 461px;
    margin: 0 117px 24px 230px;
    background: #fff8f3FF;
    /* padding: 30px; */
    border-radius: 12px;


}

.form-input{
    margin-bottom: 24px;
     border: 2px solid transparent;
}